@import "../abstracts/variables";
@import "../abstracts/mixins";
.home{
  &__title{
    font-size: $title-font-size;
    color: $text-color;
    margin: 0;
    margin-bottom: $gutter-size/6;
  }
  &__subtitle{
    font-size: $subtitle-font-size;
    color: $text-color;
    font-weight: 400;
  }
  &__cta{
    @include margin-vertical($gutter-size/2);
    color: $text-color;
    font-size: $subtitle-font-size;
    &:hover{
      text-decoration: none;
      color: $soft-text-color;
    }
  }
}
