<div class="home__banner">
  <h1>PickaLife</h1>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 100 %>
    </div>
  </div>
</div>

<div class="container">
  <div class="home">
    <img class="home__image">
    <div class="home__title"></div>
    <div class="home__subtitle"></div>
  </div>
</div>
