<div class="footer">
  <div class="footer__links">
    <a href="#"><i class="fab fa-instagram footer__icon"></i></a>
    <a href="#"><i class="fab fa-facebook footer__icon"></i></a>
    <a href="#"><i class="fab fa-twitter footer__icon"></i></a>
  </div>
  <div class="footer__text">
    This footer was made with <span class="footer__icon"><%= icon('fas', 'heart', class: 'strong') %></span> by PickaLife.
  </div>
</div>
