<div class="banner"style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://d19m59y37dris4.cloudfront.net/directory/1-4/img/photo/photo-1501621965065-c6e1cf6b53e2.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-5 offset-sm-1">
        <%= render 'shared/bookingForm', experience: @experience %>
      </div>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="container">
    <div class="mt-5">
      <h2 class="home__title">Latests experiences</h2>
      <h4 class="home__subtitle">The best life experiences you can find, <span class="secondary-color">worldwide.</span></h4>
    </div>
    <div class="row my-4">
      <% @experiences[0..3].each do |experience| %>
      <div class="col-xs-6 col-sm-3 my-2">
        <%= render 'shared/card', experience: experience %>
      </div>
      <% end %>
    </div>
    <div>
      <%= link_to "Discover all experiences >>", experiences_path, class: "home__cta" %>
    </div>
  </div>
</div>
