  <div class= "container">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://66.media.tumblr.com/35b4f60d7fdb30d6fc0abd9fbbb80e78/tumblr_mu8zy2vsaK1rrsl5ho1_640.jpg)">
      Activity
  </div>
     <ul class="list-group list-group-flush">
       <li class="list-group-item"> Place : <%= @experience.place %> </li>
       <li class="list-group-item">Start date</li>
       <li class="list-group-item">End date</li>
       <li class="list-group-item">Price</li>
     </ul>
  <div class="card-button">
   <a href="#" class="card-link ">Book now</a>
   <a href="#" class="card-link ">Save to wishlist</a>
  </div>
</div>
</div>
<br>


