@import "../abstracts/variables";
@import "../abstracts/mixins";

/* Layout
----------------------------------------------------------------------------------------------------*/
.wrapper {
  padding: 0 $gutter-size;
  position: relative;
  margin: 0 auto;
  max-width: $container;
  width: 100%;
  @include clearfix;

  @media screen and (max-width: $desktop-small) and (min-width: $tablet-medium)  {
    padding: 0 $gutter-size*2;
  }
}

.row {
  position: relative;
  margin-left: -$gutter-size;
  margin-right: -$gutter-size;
  @include clearfix;
}

/* Grid
----------------------------------------------------------------------------------------------------*/
[class*="col-"] {
  width: 100%;
  padding-left: $gutter-size;
  padding-right: $gutter-size;
  margin-bottom: $gutter-size;
  @include clearfix;

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: $tablet-medium) {
    float: left;

    &:last-child {
      margin-bottom: $gutter-size;
    }
  }
}

@media screen and (min-width: $tablet-medium) {
  @for $i from 1 through 12 {
    .col-#{$i} {
      width: 100% / 12 * $i;
    }
  }
}

.w100 {
  width: 100%;
}

/* Float
----------------------------------------------------------------------------------------------------*/
.left {
  float: left;
}

.right {
  float: right;
}

/* Flexbox
----------------------------------------------------------------------------------------------------*/
.d-flex {
  flex-wrap: wrap;
  display: flex;
}

.align-self-start {
  align-self: flex-start !important;
}

.align-self-center {
  align-self: center !important;
}

.align-self-end {
  align-self: flex-end !important;
}

.align-items-height {
  align-items: stretch !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-around {
  justify-content: space-around !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.flex-column {
  flex-direction: column !important;
}
