// Container
$container: 1200px;
// Value for padding col- and row
$gutter-size: 32px;
// base width
$base-width: 600px;


//Fonts
$font-regular : 'Oswald';
$font-secondary : 'Anton';

// Font Sizes
$paragraph-font-size: 14px;
$base-font-size: 16px;
$navbar-font-size: 16px;
$logo-font-size: 20px;
$subtitle-font-size: 20px;
$title-font-size: 24px;
$main-title-font-size: 32px;
$big-title-font-size: 56px;

// Line height
$base-line-height: normal;
$heading-line-height: normal;

$hover-opacity: 0.95;
$border-radius: 6px;


//Colors
$gold:                      #EFAD1E;
$red:                       #ff483b;
$light-pink:                #ffeae4;
$purple:                    #5609F4;
$blue:                      #174EF3;
$medium-blue:               #D1DCFB;
$light-blue:                #e7edfd;
$white-blue:                #F3F6FE;
$turquoise:                 #00ccbc;
$green:                     #13B686;
$white:                     #ffffff;
$white-2:                   rgba(242, 242, 242, 0.95);
$light-grey:                #d2d3d7;
$grey:                      #6c757d;
$dark-grey:                 #686e80;
$black:                     #001835;
$orange:                    #ec5334;

$body-bg-color:             $white;
$transparent-bg-color:      $white-2;
$text-color:                $black;
$soft-text-color:           $grey;
$primary-color:             $white;
$secondary-color:           $orange;
$light-color:               $light-blue;
$valid-color:               $green;
$invalid-color:             $red;
$warning-color:             $gold;
$border-color:              $grey;
$disabled-color:            $light-grey;

//Breakpoint
$tablet-medium: 768px;
$tablet-large: 992px;
$desktop-small: 1024px;
$desktop-medium: 1260px;
