@import "../abstracts/variables";
@import "../abstracts/mixins";

.banner {
  background-size: cover;
  background-position: right;
  padding: 0;
  height: 110vh;
  display: flex;
  align-items: center;
  &__title{
    margin: 0;
    color: $white;
    font-size: $main-title-font-size;
    font-weight: bold;
  }

  &__text{
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}

.searchBanner{
  background-size: cover;
  background: center;
  background-position-y: -500px;
  padding: 0;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  &__title{
    font-size: $main-title-font-size;
    color: $primary-color;
    margin-bottom: $gutter-size;
  }
}
