@import "../abstracts/variables";
@import "../abstracts/mixins";

.btn{
  &.-primary{
    color: $primary-color;
    background: $secondary-color;
    border-radius: 3px;
    text-decoration: none;
    @include padding-horizontal($gutter-size/2);
    @include padding-vertical($gutter-size/4);
    transition: all .5s ease-out;
  }
  &.-full{
    width: 100%;
  }
  &:hover{
    text-decoration: none;
    color: $secondary-color ;
    background: $primary-color;
  }
}
