@import "../abstracts/variables";
@import "../abstracts/mixins";

.card{
  border: none;
  &__img{
    background-size: cover;
    border-radius: 5px;
    margin-bottom: $gutter-size/4;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
      opacity: 0.95;
      cursor: pointer;
    }
  }
  &__title{
    font-size: $title-font-size;
    color: $secondary-color;
    font-weight: bold;
    &:hover{
      color: $secondary-color;
    }
  }
  &__place{
    margin-bottom: $gutter-size/6;
    font-weight: 400;
  }
  &__activity{
    font-weight: 100;
  }
  &__price{
    font-weight: 400;
  }
  &__rating{
    margin-bottom: $gutter-size/2;
    font-weight: 400;
  }
  &__icon{
    margin-right: $gutter-size/8;
    font-weight: 400;
  }
  &__cta{
    text-decoration: none;
    color: $secondary-color;
    &:hover{
      color: $secondary-color;
      text-decoration: none;
      opacity: 0.75;
    }
  }
  &__horizontal{
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
