@import "../abstracts/variables";
@import "../abstracts/mixins";

.card{
  border: none;
  &__img{
    background-size: cover;
    border-radius: $border-radius;
    margin-bottom: $gutter-size/4;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
      opacity: $hover-opacity;
      cursor: pointer;
    }
  }
  &__avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-right: $gutter-size * 0.20;
  }

  &__title{
    font-size: $title-font-size;
    color: $primary-color;
    font-weight: bold;
    @include text-shadow;
    &:hover{
      color: $secondary-color;
    }
  }
  &__place{
    margin-bottom: $gutter-size/6;
    @include typography($color: $soft-text-color, $font-weight: 400);
  }
  &__description{
    font-size: $paragraph-font-size;
    margin-bottom: $gutter-size * 0.25;
  }

  &__price{
    font-weight: 400;
  }
  &__rating{
    margin-bottom: $gutter-size/2;
    font-weight: 400;
  }
  &__icon{
    font-weight: 400;
  }
  &__cta{
    text-decoration: none;
    color: $secondary-color;
    font-weight: 400;
    &:hover{
      color: $secondary-color;
      text-decoration: none;
      opacity: $hover-opacity;
    }
  }
  &__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
  }
  &__horizontal{
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
