@import "../abstracts/variables";
@import "../abstracts/mixins";

.homeForm{
  &__title{
    color: $text-color;
  }
  &__form{
    background: $transparent-bg-color;
    @include border-shadow;
    @include padding-horizontal;
    @include padding-vertical;
  }
  &__btn{
    width: 100%;
  }
}
