@import "../abstracts/variables";
@import "../abstracts/mixins";

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar{
  @include border-shadow;
  &__logo{
    color: $secondary-color;
  }
}
