@import "../abstracts/variables";
@import "../abstracts/mixins";

.searchbar{
  display: inline-block;
  color: $text-color;
  &__input{
    position: relative;
    left: 396px;
    top: -40px;
    background: $secondary-color;
    color: $primary-color;
    border: none;
    border-radius: $border-radius;
    height: 40px;
    width: 90px;
  }
}

#query{
  width: 90%;
  height: 40px;
  border-radius: $border-radius;
  border: none;
  padding-left: $gutter-size * 0.5;
}
